<h1><%= @title %></h1>

<h2>This calculator can calculate with +, -, *, / </h2>


<form action='/calculate' method="post">
	<input type="text" name="num_one" autofocus>

	<input type="text" name="operation" autofocus>

	<input type="text" name="num_two" autofocus>
	<button type="submit">Calculate!</button>
</form>

<h3><%= @answer %></h3>

